.root {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}
