@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%) no-repeat 100%;
  font-family: 'Karla', 'Arial', sans-serif;
}
